.search-box {
  display: flex;
}

.search-bar {
  width: 30vw;
  border-radius: 20px 0 0 20px;
  outline: none;
  font-size: 20px;
  background-color: white;
  padding: 25px;
  border: none;
  min-width: 250px;
  margin-bottom: 100px;
  position: relative;
}
#search-button {
  margin-bottom: 100px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  background-color: white;
  color: grey;
  padding: 20px;
  font-size: 14px;
  border: none;
  border-radius: 0 20px 20px 0;
}
