.array-item {
  height: 100px;
  width: 80px;
  background-color: #333333;
  border-radius: 5px;
  margin: 10px;
}

.array-item p {
  text-align: center;
  font-weight: bold;
}

.scale {
  transition: transform 1s ease-out;
  transform: scale(1.4, 1.4);
}
.result {
  color: black;
  background-color: orange;
}
.traversed {
  color: black;
  transition: background 1s ease-in-out;
  background-color: pink;
}
