body {
  background-image: -webkit-linear-gradient(
    to right,
    #1a2980,
    #26d0ce
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    to right,
    #1a2980,
    #26d0ce
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App {
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  background: none;
}
