body {
  background-image: linear-gradient(to right, #000000, #434343);
}

.App {
  display: flex;
  /* height: 500px; */
  margin: 10px auto;
  width: 50vw;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: none;
  color: snow;
}

.header {
  text-align: center;
  font-size: 64px;
  margin-bottom: 150px;
}
